@using Rogue_BT.Models
@using Rogue_BT.Helper
@model IEnumerable<ApplicationUser>
@{
	ViewBag.Title = "ManageRoles";
	var roleHelper = new UserRoleHelper();
}
<style>
	#UserIds {
		min-height: 350px;
	}
</style>


<h2>Manage Roles</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken();
	<div class="row">
		<div class="col-md-8">


			@Html.ListBox("UserIds")
		</div>
		<div class="col-md-4">
			@Html.DropDownList("RoleName", "-- No Role --")

		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="submit" class="btn btn-primary" style="width: 100%">Manage Role Assignment(s)</button>
		</div>
	</div>
}

<hr />

<table class="table">
	<tr>
		<th>
			@Html.DisplayName("User Email")
		</th>
		<th>
			@Html.DisplayName("Role")
		</th>
		
	</tr>

	@foreach (var person in Model)
	{
		<tr>
			<td>
				@person.Email
			</td>
			<td>
				@roleHelper.ListUserRoles(person.Id).FirstOrDefault()
			</td>
			</tr>
	}

</table>







