@model IEnumerable<Rogue_BT.Models.ApplicationUser>


@{
	ViewBag.Title = "ManageProjectUsers";
	var projectHelper = new Rogue_BT.Helper.ProjectHelper();
}
<style>
	.btnWide {
		width: 100%;
	}
</style>
<h2>ManageProjectUsers</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="row">
		<div class="col-lg-6">
			<h2>Select Users</h2>
			@Html.ListBox("UserIds")
		</div>
		<div class="col-lg-6">
			<h2>Select Projects</h2>
			@Html.ListBox("projectIds")
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<button type="Submit" class="btn btn-success btnWide">Assign Users</button>
		</div>
	</div>
}



<hr />
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		
		<th>
			@Html.DisplayName("Projects")
		</th>
		
	</tr>

	@foreach (var user in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => user.Email)
			</td>
			<td>
				@foreach (var project in projectHelper.ListUserProjects(user.Id))
				{ 
					@project.Name <br />
				}
			</td>
			
			@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
			{
				
			}
		</tr>

	}

</table>
