@using Microsoft.AspNet.Identity;
@using Rogue_BT.Helper;
@model Rogue_BT.ViewModels.MyTicketViewModel

@{
	ViewBag.Title = "Index";
	var ticketHelper = new TicketHelper();
	var ticketManager = new TicketManager();
}

<h2>Index</h2>
@if (User.IsInRole("Submitter"))
{
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
}
<hr />
<h2>All Tickets</h2>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>
				Project
			</th>
			<th>
				Priority
			</th>
			<th>
				Status
			</th>
			<th>
				Type
			</th>
			<th>
				Submitter
			</th>
			<th>
				Developer
			</th>
			<th>
				Issue
			</th>

			<th>
				Description
			</th>

			<th>
				Created
			</th>
			<th>
				Resolved
			</th>
			<th>
				Archived

			</th>

	</tr>
	</thead>

	<tbody>
	@foreach (var item in Model.AllTickets)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Project.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TicketPriority.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TicketStatus.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TicketType.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Submitter.FullName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Developer.FullName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Issue)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IssueDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Created)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.IsResolved)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsArchived)
			</td>
			<td>
				
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
					@Html.ActionLink("Details", "Details", new { id = item.Id })
				
			</td>

		</tr>
	}
	</tbody>
</table>

@if (Model.MyTickets.Count > 0)
{
<hr />
<h2>My Tickets</h2>
<hr />


<table class="table">
	<tr>
		<th>
			Project
		</th>
		<th>
			Priority
		</th>
		<th>
			Status
		</th>
		<th>
			Type
		</th>
		<th>
			Submitter
		</th>
		<th>
			Developer
		</th>
		<th>
			Issue
		</th>

		<th>
			Description
		</th>		
		
		<th>
			Created
		</th>
		<th>
			Resolved
		</th>
		<th>
			Archived

		</th>
	</tr>
	

	@foreach (var item in Model.MyTickets)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Project.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TicketPriority.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TicketStatus.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TicketType.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Submitter.FullName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Developer.FullName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Issue)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IssueDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Created)
			</td>
			
			<td>
				@Html.DisplayFor(modelItem => item.IsResolved)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsArchived)
			</td>

		</tr>
	}

</table>
}
else 
{
	<h2>You have no Tickets</h2>
}
